/* landing_page css */
.landing_navbar_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.landing_navbar_li {
    float: left; 
    display: inline;
}
.landing_navbar_li_right{
    float: right; 
    display: inline;
}
.landing_navbar_a {
    display: block; 
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.landing_navbar_button {
    background-color: #1C64F2;
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
}
.section1{
    margin: auto; 
    width: 75%;
    text-align: center;
}
.section2 {
    width: 40%;
    float: left;
    padding-left: 150px;
}
.section3 {
    width: 40%;
    float: right;
    margin-top: 250px;
}
span {
    background-color: rgba(249, 230, 184, 0.91);
}
p, h1, h2, a, button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p {
    font-size: 15pt;
    color: darkslategrey;
}
h1 {
    font-size: 45pt;
}
.background {
    position: relative;
    color: lightgray;
    z-index: -1;
    width: 100%;
    height: 10%;
}
.pic1 {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}
.image-stack {
    position: relative;
    width: 25%;
    float: right;
    display: inline;
}
.bottom-image{
    position: absolute;
    right: 0; 
    top: 0; 
    width: 80%;
    z-index: -1;
    padding-top: 40%;

}
.top-image{
    padding-top: 20px;
    padding-right: 20%;
    width: 80%;
}
.stackpic {
    width: 100%;
    display: block;
}
.section3pic {
    display: inline;
    width: 40%;
    float: left;
    margin-top: 200px;
    margin-left: 100px;
}

/* desktop css */ 
.desktop_logo{
    float: left;
    margin-top: 25px;
}
.desktop1 {
    margin-left: 50px;
}
.button2 {
    color: #1C64F2;
    text-align: center;
    font-size: 15px;
    border-radius: 20px;
    border-color: #1C64F2;
    background-color: aliceblue;
    padding: 10px;
    margin-left: 25px;
}
.desktop2 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 100px;
}
